<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板过滤器</title>
    {{ script|safe }}
</head>
<body>
    <p>模板过滤器</p>
    <div>{{ 1|add:4}}</div>
    {{ value1|add:value2 }}
    <div>{{ "hello,world"|cut:"," }}</div>
    <div>{{ time|date:"Y-m-d H:i:s" }}</div>
    <div>{{ default|default:"我是默认值" }}</div>
    <div>{{ default_0 }} {{ default_0|default:"空字符，空数组，空字典才会显示" }}</div>
    <div>{{ default_1 }} {{ default_1|default_if_none:"只有值是None才会显示" }}</div>
    <div>{{ value1|last }} 最后一个元素</div> 
    <div>{{ value1|first }} 第一个元素</div>
    <div>{{ "hello"|first }} 第一个元素</div>
    <div>{{ floatValue|floatformat }} 对浮点数进行四舍五入，一位小数</div>
    <div>{{ floatValue|floatformat:3 }} 对浮点数进行四舍五入，三位小数</div>
    <div>{{ floatValue|floatformat:3 }} 对浮点数进行四舍五入，三位小数</div>
    <div>{{ value1|join:"|" }} 对数组以一个特定的分隔符进行连接</div>
    <div>{{ value1|slice:"::-1"}} 对数组进行切片操作</div>
    <div>{{ value1|length }} 对数组,字符串求长度</div>
    <div>{{ value1|random }} 数组中随机获取一个值</div>
    <div>{{ default|upper }} 对字符串全部转大写</div>
    <div>{{ default|lower }} 对字符串全部转小写</div>
    <div> {{ alert | safe}} </div>
    <div> {{ alert | striptags}} 清除html标签</div>
    <div> {{ truncate | truncatechars:"6"}} 切割字符串(n-1)个字符加3个点</div>
    <div> {{ default | truncatechars:"4"}} 切割字符串</div>
    <div> {{ truncate_html | truncatechars_html:"3"}} 切割字符串,保留HTML标签</div>
    

</body>
</html>