* {
    margin: 0;
    padding: 0;
}
.nav{
    overflow: hidden;
    background-color: #3a3a3a;
    color: white;
}

.nav li{
    float: left;
    list-style: none;
    padding: 10px;
    margin: 0 10px ;
}

.nav a{
    text-decoration: none; /* 取消a标签下划线 */
    color: inherit;
}

.nav li a:hover {
    color: lightblue;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

#my-video {
    width: 100%;
    height: auto;
  }
  
@media (min-width: 768px) {
#my-video {
    width: 640px;
    height: 360px;
}
}